<!DOCTYPE html>
<html>
<head>
    <title>Soundbox</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <div id="loadingIcon">🤔</div>
    <button id="randomButton" onclick="init()">Press this</button>
    <div id="slotMachineAnimation"></div>
    <button id="recordButton" onclick="init()">Start Recording</button>
    <div id="returnText"></div>
    <div id="again"></div>
    <main id="mainElement"></main>
    <script src="{{url_for('static', filename='recorder.js')}}"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <script src="{{url_for('static', filename='visualizer.js')}}"></script>
</body>
</html>